.HorizontalSideBar {
  margin: 3rem;
}
.HorizontalSideBar .sidebar-info {
  display: flex;
  position: relative;
}
.HorizontalSideBar .sidebar-info_more .contacts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.HorizontalSideBar .sidebar-info_more .social-list {
  display: flex;
  align-items: center;
  justify-content: left;
}
.HorizontalSideBar .sidebar-info_more .contacts-list .contact-item .contact-info .contact-title {
  opacity: 50%;
  padding: 5px 0;
}
.info_more-btn {
  top: -32px;
  right: -32px;
  padding: 10px 15px;
}

.info_more-btn span {
  display: block;
  font-size: var(--fs-8);
}
.info_more-btn {
  position: absolute;
  border-radius: 0 30px;
  font-size: 13px;
  /* color: var(--primary); */
  background: var(--background);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--background);
  transition: var(--transition-1);
  z-index: -1;
}
.info_more-btn .iconBTN {
  display: none;
}
.info_more-btn .textBTN {
  display: inline;
}

@media screen and (max-width: 1024px) {
  .horizontalSideBar {
    width: 100%;
    display: inline;
  }
}
@media screen and (max-width: 500px) {
  .HorizontalSideBar .sidebar-info_more .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .HorizontalSideBar {
    margin: 1rem;
  }
  .info_more-btn .iconBTN {
    display: inline;
    width: 60px;
  }
  .info_more-btn .textBTN {
    display: none;
  }
}
