.filter-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding-left: 5px;
  margin-bottom: 30px;
}
.filter-list li {
  list-style: none;
}
.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}
.portfolio .article-title {
  padding-bottom: 20px;
}
.portfolio .article-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--primary);
  border-radius: 3px;
}

.filter-select-box {
  display: none;
}

.filter-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding-left: 5px;
  margin-bottom: 30px;
}

.filter-item button {
  background-color: transparent;
  border: none;
  color: var(--textColor);
  font-size: 14px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.filter-item button:hover {
  color: var(--textColor);
}

.filter-item button.active {
  color: var(--primary);
}
.filter-select {
  background: var(--background);
  color: var(--textColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--borderColor);
  border-radius: 14px;
  font-size: 14px;
  font-weight: 300;
}

.filter-select.active .select-icon {
  transform: rotate(0.5turn);
}

.select-list {
  background: var(--background);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-item button {
  background: var(--background);
  color: var(--textColor);
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.select-item button:hover {
  --eerie-black-2: hsl(240, 2%, 20%);
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}

.project-item {
  display: none;
}

.project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.project-item > a {
  width: 100%;
}

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
  border-radius: 16px;
}

.project-item > a:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
  border-radius: 16px;
}

.project-item-icon-box {
  --scale: 0.8;

  background: var(--background);
  color: var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item-icon-box svg {
  --ionicon-stroke-width: 50px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
  cursor: pointer;
}

.project-item > a:hover img {
  transform: scale(1.1);
}

.project-title,
.project-category {
  margin-left: 10px;
}

.project-title,
.project-link {
  margin-left: 10px;
}

.project-title {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.3;
  margin-top: 0.5rem;
}

.project-category {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 300;
  opacity: 60%;
}
.project-link {
  /* color: var(--textColor); */
  font-size: 16px;
  font-weight: 300;
  opacity: 90%;
}
.project-list,
.blog-posts-list {
  grid-template-columns: 1fr 1fr 1fr;
}
.article-title {
  margin-bottom: 30px;
}
.selector {
  display: none;
}
.selector select:focus {
  border: none;
}
.selector select:focus-visible {
  border: none;
}
@media (max-width: 800px) {
  .project-list,
  .blog-posts-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .filter-list {
    display: none;
  }
  .selector {
    display: inline;
  }
  .selector select {
    width: 100%;
    padding: 0.3rem;
    margin: 1rem auto;
    background-color: var(--background);
    border-radius: 5px;
  }
  .project-list,
  .blog-posts-list {
    grid-template-columns: 1fr;
  }
}
