.article-title {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 1rem;
}

/**
 * education and experience 
 */

.timeline {
  margin-bottom: 30px;
}

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: 16px;
  margin-left: 45px;
}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--primary);
  font-weight: 400;
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: '';
  position: absolute;
  top: -25px;
  left: -68px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--primary);
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -70px;
  height: 6px;
  width: 6px;
  background: var(--primary);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--background);
}

.timeline-text {
  color: var(--textColor);
  font-weight: 300;
  line-height: 1.6;
}
.icon-box {
  --scale: 0.8;
  background: var(--background);
  /* background: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%); */
  color: var(--primary);
  transform: translate(-20%, 9%) scale(var(--scale));
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  z-index: 1;
  transition: var(--transition-1);
}

/**
 * skills 
 */

.skills-title {
  margin-bottom: 20px;
}

.skills-list {
  padding: 20px;
}

.skills-item:not(:last-child) {
  margin-bottom: 15px;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  opacity: 50%;
  color: var(--textColor);
  font-size: 17px;
  font-weight: 300;
}

.skill-progress-bg {
  background: var(--background);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: var(--primary);
  height: 100%;
  border-radius: inherit;
}
.content-card {
  position: relative;
  background: var(--backgroundLite);

  /* background: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%); */
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: '';
  position: absolute;
  inset: 1px;
  background: var(--backgroundLite);
  border-radius: inherit;
  z-index: -1;
}
.skill ul {
  list-style-type: none;
}
.h5 {
  color: var(--textColor) !important;
  text-transform: capitalize;
}
.resume .article-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--primary);
  border-radius: 3px;
}
