body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eaeaea;
}

.swal-text {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  margin: 0;
}
.empty {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.m-20 {
  margin: 20px 0;
}
.h2,
.h3,
.h4,
.h5 {
  color: var(--textColor);
  text-transform: capitalize;
}
.h1 {
  font-size: 32px;
}
.h2 {
  font-size: 24px;
}
.h3 {
  font-size: 26px;
}
.h5 {
  font-size: 13px;
}
